@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    font-family: theme('fontFamily.sans');
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: theme('fontFamily.display');
    letter-spacing: 0.01em;
  }
}

@layer components {
  .heading-1 {
    @apply font-display text-3xl md:text-4xl font-bold tracking-tight;
  }
  .heading-2 {
    @apply font-display text-2xl md:text-3xl font-semibold tracking-tight;
  }
}
